div {
  border: 20px solid #000; /* this is short hand for setting 
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}

#red {
	border-top-color: rgb(255, 0, 0);
}

#orange {
	border-top-color: rgb(254, 103,	0);
}

#yellow {
	border-top-color: rgb(252, 250, 37);
}

#green {
	border-top-color: rgb(0, 195, 34);
}

#blue {
	border-top-color: rgb(0, 143, 255);
}

#indigo {
	border-top-color: rgb(74, 0, 170);
}

#violet {
	border-top-color: rgb(188, 0, 191);
}